<canvas id="particle-stars" aria-hidden="true"></canvas>

{{- $opts := dict "minify" true -}}
{{- with resources.Get "js/particle-stars.js" -}}
  {{- $script := . | js.Build $opts | fingerprint "sha256" -}}
  <script src="{{ $script.RelPermalink }}" defer integrity="{{ $script.Data.Integrity }}"></script>
{{- end -}}

<style>
    #TableOfContents > ul ul,
    #TableOfContents > ul ol,
    #TableOfContents > ol ul,
    #TableOfContents > ol ol {
        display: none;
    }
    #TableOfContents .open {
        display: block;
    }
</style>

<script>
    function initTocHide() {
        let toc = document.querySelector(".widget--toc");
        if (!toc) {
            return;
        }
        window.addEventListener('scroll', function() {
            let openUl = document.querySelectorAll(".open");
            if (openUl.length > 0) {
                openUl.forEach((ul) => {
                    ul.classList.remove("open")
                })
            }
            let currentLi = document.querySelector(".active-class");
            if (!currentLi) {
                return
            }
            if (currentLi.children.length > 1) {
                currentLi.children[1].classList.add("open")
            }
            let ul = currentLi.parentElement;
            do {
                ul.classList.add("open");
                ul = ul.parentElement.parentElement
            } while (ul !== undefined && (ul.localName === 'ul' || ul.localName === 'ol'))
        });
    }
    initTocHide()
</script>